[v-cloak] {
    display:none !important;
}

img {
    border-radius:3px
}
a {
   
}
a img {
    display:block;
    vertical-align:bottom;
}
a video {
    display:block;
    vertical-align:bottom;
}


#app a {
/*  text-decoration: none;
  letter-spacing: 1px;
  color: #e42b2b;*/

  color: var(--primary-color);
  text-underline-offset: 4px;
    cursor: pointer;
/*  font-weight: bold;*/
}

#app blockquote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
/*  margin: 2.5em 0;*/
margin: 0.5em 0;
  padding: 0 0 0 20px;
  font-style: italic;
  color: #555555;
  border-left: none;
}

#app blockquote:before {
  content: '“';
  display: block;
  font-family: times, sans-serif;
  font-style: normal;
  font-size: 32px;
  color: #444444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -20px;
  position: absolute;
}

#app  strong,
#app  b,
#app  em {
/*  padding: 1px 2px;
  background-color: #fcfcf0;
  font-weight: normal;*/

  margin: 0 -0.4em;
  padding: 0 0.4em;
  border-radius: 0.8em 0.3em;
  background: 0 0;
  /* background-image: linear-gradient(to right, #ffb4b44c, rgb(255 122 122 / 10%)); */
  background-image: linear-gradient(to right, #7aa8744c, rgba(122, 168, 116, 0.1));
  /* background-image: linear-gradient(to right, rgba(255, 225, 0, .1), rgba(255, 225, 0, .7) 4%, rgba(255, 225, 0, .3)); */
  -webkit-box-decoration-break: clone;

}

#app p {
  line-height: 1.8em;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}


.loadbtn {
    border-radius: 4px;
    background-color: rgba(255, 255, 255,100%);
    border-color:hsl(240 6% 90% / 1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000 , 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, .05);
    border: 1px solid hsl(0 0% 93% / 1);
    cursor: pointer;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding: .2rem .3rem;
    font-size: 12px;
    color: #646464;
}

a.loadbtn {
    border-radius: 4px;
    background-color: rgba(255, 255, 255,100%);
    border-color:hsl(240 6% 90% / 1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000 , 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, .05);
    border: 1px solid hsl(0 0% 93% / 1);
    cursor: pointer;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding: .2rem .3rem;
    font-size: 12px;
    color: #646464;
}

.loadbtn:hover{
    background-color: hsl(0 0% 95% / 1);
}

.single-pic {
    object-fit:cover;
    /* height:280px;
    */
    /* width:280px;
    */
     width:100%;
    border-radius:4px;
}
.pic {
    object-fit:cover;
    height:100px;
    /* width:100px;
    */
     width:100%;
    border-radius:4px;
}
.pic-group {
    /* flex:0;
    */
/*     margin:0px 4px 4px 0px;*/
}
.pic-group-in {
    margin:0.1rem;
}


@media screen and (max-width:300px) {

    .pic {
        object-fit:cover;
        height:92px;
        width:92px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        height:100px;
        width:100px;
        border-radius:4px;
    }

    #app {
        border-radius:0px;
    }
}

@media screen and (min-width:301px) and (max-width:500px) {
  
    .pic {
        object-fit:cover;
        height:92px;
        width:92px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        height:220px;
        width:220px;
        border-radius:4px;
    }

    #app {
    /*    border-radius:0px;*/
        border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;;
    }
}

@media screen and (min-width:501px) and (max-width:700px) {
  
    .pic {
        object-fit:cover;
        height:120px;
        width:120px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        height:250px;
        width:250px;
        border-radius:4px;
    }
   
    #app {
        border-radius:0px;
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
  
    .pic {
        object-fit:cover;
        height:125px;
        width:125px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        height:280px;
        width:280px;
        border-radius:4px;
    }

}

@media screen and (min-width:901px) and (max-width:1200px) {
  
    .pic {
        object-fit:cover;
        height:192px;
        width:192px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        /* height:320px;
        width:320px;
        */
              height:330px;
        width:330px;
        border-radius:4px;
    }

}

@media screen and (min-width:1201px) {
     
    .pic {
        object-fit:cover;
        /* height:218px;
        width:218px;
        */
              height:180px;
        width:180px;
        border-radius:4px;
    }
    .single-pic {
        object-fit:cover;
        height:380px;
        width:380px;
        border-radius:4px;
    }
}


a[target="_blank"] {
    position: relative; /* 设置为相对定位 */
}
main a[target="_blank"]::after {
    position: absolute; /* 设置为绝对定位 */
    content: "↗";
/*    display: inline-block;*/
    width: 5px; /* 图标宽度 */
    height: 5px; /* 图标高度 */
    margin-left: 1px; 
    vertical-align: middle; /* 垂直居中 */
    font-size:0.3rem;
}


.external-icon::after {
    content: '\2192'; /* 这是一个箭头符号，你可以替换成你的图标字符 */
    font-size: 0.6em; /* 调整图标大小 */
    color: #999; /* 图标颜色 */
    margin-left: 5px; /* 间距 */
    vertical-align: middle; /* 垂直居中 */
}

.external-icon::after {
    content: '\f039'; /* 替换为你的图标字符 */
}