:root{
/*      --primary-color: #055d20;*/
      --primary-color: #578473e3;
      --primary-color-line-opacity: #055d203b;
      --primary-color-other: #f60c3e;
      --primary-font-color: #000000e3;
      --content-border: #AAC2AE;
}
body {
  margin: 0 auto;
  padding: 1em;
  line-height: 1.7;
  background: #fff;
  max-width: 80ch;
  text-align: justify;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23778899' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: rgba(250, 251, 248,0.9);
/*  background-image: linear-gradient(#efefef 1px, transparent 0), linear-gradient(90deg, #efefef 1px, transparent 0);*/
/*  background-size: 12px 12px;*/

/*  text-justify: inter-ideograph;*/
/*  font-weight: 400;*/
}

.content{
    background-color: white;
    padding: 30px;
    overflow: unset;
    border: 1px solid var(--content-border);
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
}

main p{
  color: var(--primary-font-color);
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
}

/*h3,h4,h5,h6 {
  text-align: left;
  border-left: 3px solid #258852;
  padding: 0 0 0 0.5em;
}*/


ul {
  padding-left: 1.5em;
}

a {
/*  color: #258852;*/
/*  color: rgb(50, 87, 209);*/
/*  color: #217347; */
  color:var(--primary-color);
  text-underline-offset: 4px;
  cursor: pointer;
/*  font-weight: 600;*/
}

a:hover{
  opacity: 0.6;
}

li a{
  color: var(--primary-color); 
  text-decoration: none;
/*  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;  */
}

.noline{
   text-decoration: none;
}

.menu a {
   color: var(--primary-font-color); 
}

.lists{
/*  border-bottom: 1px dashed rgba(224, 229, 235, 0.7);*/
  padding: 10px 0px 10px 5px !important;
}

.title {
   color: var(--primary-font-color); 
}

.titles {
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

.tags {
   font-weight: 600;
   color: var(--primary-color); 
   padding: 10px 0px !important;
   line-height: 0.8;height: auto;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.tag {
  font-size:0.80em;
}

.number{
  font-size:0.85em;
}

.date {
  margin-top: -0.5em;
  font-size: 0.85em;
}

.single-date {
  margin-top: -0.5em;
  color: #0000009c;
  font-size: 0.85em;
}

.hidden{
  opacity: 0.1;
}

.link-line-opacity{
  text-decoration-color: var(--primary-color-line-opacity);
}
.cate{
    padding: 5px;
    color: var(--primary-color); 
    font-size:0.90em;
    font-weight: 500;
}

details {
   margin-left:4px;
   color: var(--primary-font-color); 
   cursor:pointer;
}

.summary{
  padding: 5px;
  color: var(--primary-color);
  font-size:0.90em;
  font-weight: 500;
}

.lastmod {
  color: #0000009c;
}

.initpost {
  /*  color: #217347;*/
  color: #0000009c;
}


/*a::before {
  content: " [ ";
  font-size: 1em;
}

a::after {
  content: " ] ";
  font-size: 1em;
}
*/
.no-tag::after {
  content: none;
}

.no-tag::before {
  content: none;
}



.inspire a::after {
  content: none;
}

.inspire a::before {
  content: none;
}

.inspire ul {
  list-style: none;
  counter-reset: inspire-counter;
  padding: 0;
}

.inspire li {
  padding-left: 0;
  margin-bottom: 0.2em;
}

.inspire li:before {
  content: "[" counter(inspire-counter) "]   ";
  counter-increment: inspire-counter;
}

ol {
    margin-left: 2em;
    padding-left: 0;
}

ol.page-list {
      margin-left: 0em;
}

img {
  max-width: 100%;
}

th,
td {
  padding: 5px 10px;
  border-bottom: 2px solid #ddd;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  text-decoration: none;
  padding: 5px;
}

.title {
  font-size: 1.05em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

.page-list {
/*  list-style-type: decimal-leading-zero;*/
  list-style-type: none;
}

.page-list li {
  padding: 5px;
}

.chroma {
  overflow-x: scroll;
  border-radius: 10px;
}

blockquote {
  border-left: 3px solid #258852;
  padding: 0 0 0 1em;
  color: #666;
  margin: 0 0 0 3px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

#content {
  position: relative;
}

.btw {
  width: 25%;
  right: 100%;
  text-align: justify;
  position: absolute;
  padding-right: 1em;
  color: #888;
}

.btw>p {
  padding-top: 1px;
  margin-top: 0px;
  font-size: 80%;
}

@media screen and (max-width: 80ch) {
  .btw {
    font-size: 80%;
    position: relative;
    margin: 0.5em 0 0.5em auto;
    padding: 0.2em 0.2em;
    right: 0;
    text-align: left;
    width: initial;
    max-width: 75%;
  }

  .btw>p {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

em {
  font-style: normal;
  background-color: #7aa8744f;
  color: #000;
  border-bottom: 1px solid #7aa8744f;
}

strong {
  font-weight: bold;
  color: #333;
}

code {
  font-family: "Monaco", "Consolas", monospace;
  font-size: 80%;
  background-color: #eee9;
  color: #333;
  border-radius: 0.2em;
}

pre {
    color: inherit !important;
    background: transparent !important;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    -moz-tab-size: 4;
    padding: 5px;
    overflow: auto;
}

strong, b, em {
    margin: 0 -0.4em;
    padding: 0 0.4em;
    border-radius: 0.8em 0.3em;
    background: 0 0;
    
/*    background-image: linear-gradient(to right,#ffb4b44c, rgb(255 122 122 / 10%));*/
    background-image: linear-gradient(to right, #7aa8744c, rgba(122, 168, 116, 0.1));
/*    background-image: linear-gradient(to right, rgba(255, 225, 0, .1), rgba(255, 225, 0, .7) 4%, rgba(255, 225, 0, .3));*/
    -webkit-box-decoration-break: clone;
}

/*strong, b, em {
       background-color: rgba(63, 98, 18, .25);
    content: "";
    position: absolute;
    width: -webkit-calc(100% + 4px);
    width: -moz-calc(100% + 4px);
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-border-radius: 20% 30%;
    -moz-border-radius: 20% 30%;
    border-radius: 20% 30%;
}

*/

a[target="_blank"] {
    position: relative; /* 设置为相对定位 */
}
main a[target="_blank"]::after {
    position: absolute; /* 设置为绝对定位 */
    content: "↗";
/*    display: inline-block;*/
    width: 5px; /* 图标宽度 */
    height: 5px; /* 图标高度 */
    margin-left: 1px; 
    vertical-align: middle; /* 垂直居中 */
    font-size:0.3rem;
}


.external-icon::after {
    content: '\2192'; /* 这是一个箭头符号，你可以替换成你的图标字符 */
    font-size: 0.6em; /* 调整图标大小 */
    color: #999; /* 图标颜色 */
    margin-left: 5px; /* 间距 */
    vertical-align: middle; /* 垂直居中 */
}

.external-icon::after {
    content: '\f039'; /* 替换为你的图标字符 */
}




@media (max-width: 450px) {
   .content{
      background-color: white;
      padding: 15px;
      overflow: unset;
      border: 1px solid var(--content-border);
      border-radius: 12px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
  }
}